* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

body {
  display: flexbox;
  background-color: black;
  height: 2000px;
}

/*  Header / Nav  */
#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  background-color: black;
}
#logo {
  font-size: 35px;
  text-align: center;
  color: white;
  padding-left: 25px;
}
#nav {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}
ul {
  display: flex;
  justify-content: flex-end;
  height: 35px;
  padding: 15px;
}
li {
  display: inline;
  padding-left: 20px;
  height: 250px;
  color: white;
  padding-top: 10px;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../personalwebsite/assets/movieset.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
  width: auto;
  height: 600px;
  border: 1px white solid;
}

#opening-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  line-height: 3em;
  padding: 0;
  color: white;
  border: white 1px solid;
  padding: 35px;
}
#hero-icon {
  font-size: 55px;
  text-align: center;
  padding-bottom: 25px;
  color: white;
}

video#bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(placeholder.jpg) no-repeat;
  background-size: cover;
}

#intro {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 25px;
  margin: 10px;
  /* background-color: grey; */
}

#infocontainer {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  line-height: 2em;
}

#aboutme {
  max-width: 25%;
  height: 250px;
  margin: 10px 2px;
  padding: 20px;
  border: white 2px solid;
}

#aboutme :hover {
  background-color: #ccc;
}
#contact {
  max-width: 25%;
  height: 250px;
  margin: 10px 2px;
  padding: 20px;
  border: white 2px solid;
}

#education {
  max-width: 25%;
  height: 250px;
  margin: 10px 10px;
  padding: 20px;
  border: white 2px solid;
}

#portfolio {
  padding: 50px 0px;
  height: 600px;
  width: auto;
  background-color: black;
  color: white;
}
